<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
    <li>YOU ARE HERE</li>
    <li class="active">Time Line</li>
</ol>
<div class="row">
    <button type="button" class="btn btn-primary" ng-click="timeCtrl.toggleTerminal()">
        <span ng-if="timeCtrl.showTerminal">Hide</span>
        <span ng-if="!timeCtrl.showTerminal">Show</span> Terminal
    </button>
</div>
<div class="row">
    <div ng-class="{'col-xs-4 scroll':timeCtrl.showTerminal,'col-xs-12':!timeCtrl.showTerminal}" scroll-glue>
        <ul ng-class="{'timeline-log':timeCtrl.showTerminal,'timeline':!timeCtrl.showTerminal}">
            <li ng-repeat="event in timeCtrl.milestones track by $index" ng-if="event.milestone" ng-class="{'on-left': $odd && !timeCtrl.showTerminal}">
                <span class="event-icon-{{ event.severity }}" ng-class="{'event-icon-log':timeCtrl.showTerminal,'event-icon':!timeCtrl.showTerminal}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <section class="event">
                    <span class="time">{{event.date | date:'medium'}}</span>
                    <h4>{{ event.title }}</h4>

                    <p>{{ event.description }}</p>

                    <p ng-show="event.elapsedTime">Elapsed time: {{ event.elapsedTimeHumanized }} ({{ event.elapsedTime }}ms)</p>
                </section>
            </li>
        </ul>
    </div>
    <div class="col-xs-8" ng-if="timeCtrl.showTerminal">
        <a class="terminal divider" ng-click="timeCtrl.hideTerminal()"></a>

        <div class="terminal scroll" scroll-glue>
            <div ng-repeat="event in timeCtrl.logs track by $index">
                {{event.data}}
            </div>
        </div>
    </div>
</div>
