<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
    <li>YOU ARE HERE</li>
    <li class="active">Time Line</li>
</ol>
<div class="row">
    <button type="button" class="btn btn-primary" ng-click="timeCtrl.toggleTerminal()">
        <span ng-if="timeCtrl.showTerminal">Hide</span>
        <span ng-if="!timeCtrl.showTerminal">Show</span> Terminal
    </button>
</div>
<div class="row">
    <div ng-class="{'col-xs-4 scroll':timeCtrl.showTerminal,'col-xs-12':!timeCtrl.showTerminal}">
        <ul ng-class="{'timeline-log':timeCtrl.showTerminal,'timeline':!timeCtrl.showTerminal}">
            <li ng-repeat="event in timeCtrl.displayWhenHideTerminal track by $index" ng-if="event.type"
                ng-class="{'on-left': $odd && !timeCtrl.showTerminal}">
                <span ng-class="{'event-icon-log':timeCtrl.showTerminal,'event-icon':!timeCtrl.showTerminal,
                      'event-icon-primary':event.primary,'event-icon-warning':event.warning,'event-icon-danger':event.danger}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <section class="event" ng-click="timeCtrl.displayTerminal()">
                    <span class="time">{{event.data}}</span>
                    <h4 class="event-heading"><a href="#">{{event.eventName}}</a></h4>

                    <p class="fs-mini">
                        {{event.shortDescription}}</p>
                </section>
            </li>
        </ul>
    </div>
    <div class="col-xs-8" ng-if="timeCtrl.showTerminal">
        <a class="terminal divider" ng-click="timeCtrl.hideTerminal()"></a>

        <div class="terminal scroll">
            <div ng-repeat="event in timeCtrl.events track by $index">
                <div ng-if="event.type">
                    Milestone</br>
                    Name: {{event.eventName}}</br>
                    Short description: {{event.shortDescription}}
                </div>
                <div ng-if="!event.type">
                    {{event.log}}
                </div>
            </div>
        </div>
    </div>
</div>